asgiref==3.7.2
binance==0.3
dataclasses==0.6
distlib==0.3.6
Django==5.0
djongo==1.2.31
dnspython==2.3.0
filelock==3.12.0
humanize==4.9.0
mysql-connector-python==8.2.0
pillow==10.2.0
platformdirs==3.5.1
protobuf==4.21.12
pymongo==4.3.3
sqlparse==0.4.4
typing_extensions==4.6.2
tzdata==2023.3
virtualenv==20.23.0
