{% extends 'base.html' %}

{% block title %}
Dashbord
{% endblock %}

{% block body %}
<section class="bg-sky-blue dark:bg-gray-900 text-blue justify-center">
    <h4 class="my-8 mb-4 justify-center text-center font-bold tracking-tight leading-none md:text-4xl xl:text-blue-700">
        ABOUT US</h4>
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-7">
            <h6 class="max-w-2xl mb-8 tracking-tight leading-none md:text-2xl xl:text-blue-700 font-medium">Welcome to
                Unique Hospital.</h6>
            <p class="max-w-2xl mb-6 font-light text-black lg:mb-8 md:text-lg lg:text-xl dark:text-blue-600">
                Ideally located in the center of Surat city, on the most convenient approached roads, stands the Unique
                Hospital Multispeciality & Research Institute, a 100-bedded hospital with a 32-bedded well-equipped ICU.
                Inaugurated for the care of patients on December 30, 2012, the hospital opened its doors for the service
                of healing with humanity. The hospital is run by Surat Lifecare Pvt Ltd.

                It was the culmination of a noble desire by Unique Hospital Family, to build a hospital that would
                gratify the fundamental healthcare needs of the common man with the aim to provide quality healthcare
                services.

                The hospital family is dedicated to achieving excellence in healthcare by offering the most modern
                technology for diagnostic and curative services added up with a world-class ambiance.
            </p>
        </div>
        <div class="lg:col-span-5 lg:flex lg:flex-col items-center shadow-2xl bg-sky-20 rounded-lg text-center">
            <h4 class="my-4 max-w-2xl mb-6 tracking-tight leading-none md:text-2xl xl:text-blue-700 font-medium">OUR
                MISSION</h4>
            <p class="max-w-2xl mb-6 font-light text-black lg:mb-8 md:text-lg lg:text-xl dark:text-blue-900">
                Multispeciality & Research Institute provides the integral components of world-class care medical &
                surgical expertise, access to clinical trials and the most STATE-OF-THE-ART treatment approaches,
                modern, high-tech facilities and compassionate care through dedicated healthcare professionals with
                humanity in a warm, healing environment.
            </p>
        </div>
    </div>
    <div class="py-8 px-4 mx-auto ">
        <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-blue-700 dark:text-blue-700">FACILITY</h2>
        </div>
        <div class="flex justify-center container mx-auto">
            <div class="blog-news-single mx-2">
                <img style="width: 500px; height: 300px; object-fit: cover;" src="https://previews.agefotostock.com/previewimage/medibigoff/1d07bc689691c21bf17f6c0a83bfb331/esy-025324675.jpg" alt="image">
                <div class="blog-news-title">
                    <h2 class="font-medium text-blue-600">100 Bedded Multi-speciality Hospital</h2>
                </div>
            </div>
            <div class="blog-news-single mx-2">
                <img style="width: 500px; height: 300px; object-fit: cover;" src="https://thumbs.dreamstime.com/b/man-being-helped-nurse-to-walk-zimmer-frame-senior-men-female-people-sitting-hospital-lobby-36290525.jpg" alt="image">
                <div class="blog-news-title">
                    <h2 class="font-medium text-blue-600">32 bedded well-equipped ICU</h2>
                </div>
            </div>
            <div class="blog-news-single mx-2">
                <img style="width: 500px; height: 300px; object-fit: cover;" src="https://as2.ftcdn.net/v2/jpg/05/92/34/43/1000_F_592344370_KHxLsqNCyA5A3RqyZkMTIKngzhFfcrDM.jpg" alt="image">
                <div class="blog-news-title">
                    <h2 class="font-medium text-blue-600">Managed 24 x 7 well-qualified Intensivist</h2>
                </div>
            </div>
        </div>
        
    </div>
</section>


{% endblock %}